.calendario table {
  border-collapse: collapse;
  border-spacing: 0;
}

.calendario td {
  padding: 0;
}

.calendario .calendar-container {
  position: relative;
  width: 100%;
}

.calendario .calendar-container header {
  border-radius: 1em 1em 0 0;
  background: #a31158;
  color: #fff;
  padding: 3em 2em;
}

.calendario .day {
  font-size: 8em;
  font-weight: 900;
  line-height: 1em;
}

.calendario .month {
  font-size: 4em;
  line-height: 1em;
  text-transform: lowercase;
}

.calendario .year {
  font-size: 5em;
  font-weight: 900;
  line-height: 1em;
}

.calendario .calendar {
  background: #fff;
  width: 100%;
  border-radius: 0 0 1em 1em;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
  color: #555;
  padding: 2em;
}

.calendario .calendar thead {
  color: #a31158;
  font-weight: 700;
  text-transform: uppercase;
}

.calendario .calendar td {
  padding: .5em 1em;
  width: 14%;
  text-align: center;
}

.calendario .calendar td.active {
  background-color: #A31158;
}

.calendario .current-day {
  color: #e66b6b;
}

.calendario .prev-month,
.calendario .next-month {
  color: #cacaca;
}

.calendario .ring-left,
.calendario .ring-right {
  position: absolute;
  top: 230px;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  .calendario .ring-left,
  .calendario .ring-right {
    position: absolute;
    top: 265px;
  }
}

.calendario .ring-left { left: 2em; }
.calendario .ring-right { right: 2em; }

.calendario .ring-left:before,
.calendario .ring-left:after,
.calendario .ring-right:before,
.calendario .ring-right:after {
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 3px 1px rgba(0, 0, 0, .3), 0 -1px 1px rgba(0, 0, 0, .2);
  content: "";
  display: inline-block;
  margin: 8px;
  height: 32px;
  width: 8px;
}