.select2-selection--single{
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  height: 48px !important;
}
.select2-selection{
  border-radius: 0px !important;
}
.select2-dropdown{
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0px !important;
}
.select2-selection__rendered{
  padding-top: 6px !important;
  font-size: 16px !important;
}

.date {
  text-align: center;
}

.date .binds {
  position: absolute;
  height: 15px;
  width: 140px;
  background: transparent;
  border: 2px solid #999;
  border-width: 0 5px;
  top: -6px;
  left: 0;
  right: 0;
  margin: auto;
}

.date .month {
  background: #a31158;
  display: block;
  padding: 8px 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 2px solid #6d0336;
}

.date .day {
  display: block;
  margin: 0;
  padding: 10px 0;
  box-shadow: 0 0 3px #ccc;
  position: relative;
}

.date .day::after {
  content: '';
  display: block;
  height: 100%;
  width: 96%;
  position: absolute;
  top: 3px;
  left: 2%;
  z-index: -1;
  box-shadow: 0 0 3px #ccc;
}

.date .day::before {
  content: '';
  display: block;
  height: 100%;
  width: 90%;
  position: absolute;
  top: 6px;
  left: 5%;
  z-index: -1;
  box-shadow: 0 0 3px #ccc;
}