.breadcrumbs-home{background: rgba(0, 0, 0, 0) url("../img/breadcrumbs/carrito.webp") no-repeat scroll center center / cover }
.breadcrumbs-login{background: rgba(0, 0, 0, 0) url("../img/breadcrumbs/login.webp") no-repeat scroll center center / cover }
.breadcrumbs-crearevento{background: rgba(0, 0, 0, 0) url("../img/breadcrumbs/brindis.webp") no-repeat scroll center center / cover }
.breadcrumbs-home2{background: rgba(0, 0, 0, 0) url("../img/breadcrumbs/home4.webp") no-repeat scroll center center / cover }
.breadcrumbs-register{background: rgba(0, 0, 0, 0) url("../img/breadcrumbs/register.webp") no-repeat scroll center center / cover }
.breadcrumbs-carrito{background: rgba(0, 0, 0, 0) url("../img/breadcrumbs/home.webp") no-repeat scroll center center / cover }
.banner-ver-todos{background: rgba(0, 0, 0, 0) url("../img/experiencias-vino-mallorca.webp") no-repeat scroll center center / cover }
.breadcrumbs-day{background: rgba(0, 0, 0, 0) url("../img/breadcrumbs/breadcrumb-today.webp") no-repeat scroll center center / cover }
.breadcrumbs-weekend{background: rgba(0, 0, 0, 0) url("../img/breadcrumbs/breadcrumb-weekend.webp") no-repeat scroll center center / cover }
.breadcrumbs-new-plan{background: rgba(0, 0, 0, 0) url("../img/home/enviament_gratuit2.webp") no-repeat scroll center center / cover }

.banner{background: rgba(0, 0, 0, 0) }
.banner1{background: rgba(0, 0, 0, 0) url("../img/banners/banner1.webp") no-repeat scroll center center / cover }
.banner2{background: rgba(0, 0, 0, 0) url("../img/banners/banner2.webp") no-repeat scroll center center / cover }
.banner3{background: rgba(0, 0, 0, 0) url("../img/banners/banner3.webp") no-repeat scroll center center / cover }
.banner4{background: rgba(0, 0, 0, 0) url("../img/banners/banner4.webp") no-repeat scroll center center / cover }
.banner5{background: rgba(0, 0, 0, 0) url("../img/banners/banner5.webp") no-repeat scroll center center / cover }
.banner6{background: rgba(0, 0, 0, 0) url("../img/banners/banner6.webp") no-repeat scroll center center / cover }
.banner7{background: rgba(0, 0, 0, 0) url("../img/banners/banner7.webp") no-repeat scroll center center / cover }

.bg-opacity{
    background-color: black;
    opacity: 0.75;
}
.bg-opacity-85{
    background-color: black;
    opacity: 0.85;
}
.bg-opacity-75{
    background-color: black;
    opacity: 0.75;
}
.bg-opacity-55{
    background-color: black;
    opacity: 0.55;
}
.bg-opacity-red{
    background-color: #EE4136;
    opacity: 0.75;
}
.bg-opacity-tdv{
    background-color: #a31158;
    opacity: 0.75;
}
.bg-opacity-white{
    background-color: rgba(255,255,255,0.6);
}

.opacity-1{
    opacity: 1;
}

.heightauto{height: auto !important}
.height33{height: 33px !important}
.height50{height: 50px !important}
.height80{height: 80px !important}
.height100{height: 100px !important}
.height125{height: 125px !important}
.height150{height: 150px !important}
.height165{height: 165px !important}
.height200{height: 200px !important}
.height250{height: 250px !important}
.height300{height: 300px !important}
.height350{height: 350px !important}
.height380{height: 380px !important}
.height450{height: 450px !important}
.height550{height: 550px !important}
.min-height-100vh{min-height: 100vh;}

.bgcolor-amarillo{background-color: yellow !important;}
.bgcolor-blanco{background-color: white !important;}
.bgcolor-rojo{background-color: #EE4136 !important;}
.bgcolor-naranja{background-color: orange !important;}
.bgcolor-grisaceo{background-color: #4E5D60;}
.bgcolor-negro{background-color: black;}
.bgcolor-verde{background-color: #2ac407;}
.bgcolor-oscuro{background-color: #31353E}
.bgcolor-azul{background-color: #3498DB !important;}
.bgcolor-light-grey{background-color: #EDEDED !important;}
.bgcolor-light-grey2{background-color: #f9f9f9 !important;}
.bgcolor-light-grey3{background-color: #f4f4f4 !important;}
.bgcolor-red{background-color: #e74c3c !important;}
.bgcolor-blanco{background-color: #fff !important;}
.bgcolor-gris-flojo2{background-color: #d6d6d6 !important;}
.bgcolor-red-web{background-color: #EE4136 !important;}
.bgcolor-red-flojo{background-color: #eaa19d !important;}
.bgcolor-naranja-flojo{background-color: #ffcb77 !important;}
.bgcolor-gris-flojo{background-color: #cccccc !important;}
.bgcolor-tdv{background-color: #a31158 !important;}
.bg-transparent{background-color: transparent !important;}

.border-bottom-gris{border-bottom: 1px solid #ddd !important}
.border-top-bbb{border-top: 1px solid #bbb;}
.border-rojo{border-color: red !important}
.border-tdv{border-color: #a31158 !important}
.border-top-bottom-tdv{border-top: solid 2px #a31158; border-bottom: solid 2px #a31158}
.border-rojo-h:hover{border-color: #EE4136 !important}
.text-deco-none:hover{text-decoration: none}

.color-decoration-rojo-web{text-decoration-color: #EE4136 !important;}
.color-888{color: #888 !important}
.color-grisoscuro666{color: #666 !important}
.color-grisoscuro555{color: #555 !important}
.color-blanco{color: white !important}
.color-negro{color: black !important}
.color-oscuro222{color: #222 !important}
.color-blanco-h{color: white !important}
.color-blanco-h:hover{color: yellow !important}
.color-grisoscuro{color: #333 !important}
.color-verde{color: #72C02C !important}
.color-rojo{color: red !important}
.color-rojo-web{color: #EE4136 !important}
.color-naranja{color: orange !important}
.color-violeta{color: #D328BF !important}
.color-tdv{color: #a31158 !important}

.padding0{padding: 0px !important}
.padding2{padding: 2px !important}
.padding5{padding: 5px !important}
.padding10{padding: 10px !important}
.padding10-15{padding: 10px 15px}
.padding15{padding: 15px !important}
.padding30{padding: 30px !important}
.paddingleft2{padding-left: 2px !important}
.paddingleft0{padding-left: 0px !important}
.padding-top-3{padding-top: 3px !important}
.padding-top-10{padding-top: 10px}
.padding-top-15{padding-top: 15px}
.padding-top-40{padding-top: 40px}
.padding-top-320{padding-top: 320px !important}
.padding-top-bottom-25{padding-top: 25px !important; padding-bottom: 25px !important}
.padding-top-bottom-15{padding-top: 15px !important; padding-bottom: 15px !important}
.padding-top-bottom-9{padding-top: 9px !important; padding-bottom: 9px !important}
.padding-top-bottom-5{padding-top: 5px !important; padding-bottom: 5px !important}
.padding-top-bottom-6{padding-top: 6px !important; padding-bottom: 6px !important}
.padding-top-bottom-7{padding-top: 7px !important; padding-bottom: 7px !important}
.padding-top-bottom-0{padding-top: 0px !important; padding-bottom: 0px !important}
.padding-top-bottom-3-13{padding: 3px 13px !important}
.padding-top-bottom-11-25{padding: 11px 25px !important}

.padding-bottom-15{padding-bottom: 15px !important}
.padding-bottom-45{padding-bottom: 45px !important}
.padding-bottom-0{padding-bottom: 0px !important}
.padding-right-15{padding-right: 15px}
.padding-left-0{padding-left: 0px !important}
.padding-right-0{padding-right: 0px !important}
.padding-lr-0{padding-left: 0px !important; padding-right: 0px !important}
.padding-lr-10{padding-left: 10px !important; padding-right: 10px !important}
.padding-lr-15{padding-left: 15px !important; padding-right: 15px !important}
.padding-lr-7{padding: 0px 7px !important}
.padding-lr-2-6{padding: 2px 6px !important}
.padding-tb-2-10{padding: 2px 10px !important;}

.margin-lr-0{margin-left: 0px !important; margin-right: 0px !important}
.margin-lr-5{margin-left: 5px !important; margin-right: 5px !important}
.margin-lr-15{margin-left: 15px !important; margin-right: 15px !important}
.margin0{margin: 0px !important}
.margin7-13{margin: 7px 13px 0 0}
.margin10{margin: 10px !important}
.margin-top-bottom-5{margin-top: 5px !important; margin-bottom: 5px !important}
.margin-top-0{margin-top: 0px !important}
.margin-top-4{margin-top: 4px !important}
.margin-top-5{margin-top: 5px !important}
.margin-top-8{margin-top: 8px !important}
.margin-top-10{margin-top: 10px !important}
.margin-top-15{margin-top: 15px !important}
.margin-top-20{margin-top: 20px !important}
.margin-top-25{margin-top: 25px !important}
.margin-top-30{margin-top: 30px !important}
.margin-top-40{margin-top: 40px}
.margin-top-50{margin-top: 50px}
.margin-top-60{margin-top: 60px}
.margin-top-70{margin-top: 70px}
.margin-top--40{margin-top: -40px !important}
.margin-top-bottom-15{margin-top: 15px; margin-bottom: 15px}
.margin-top-bottom-10{margin-top: 10px; margin-bottom: 10px}
.margin-bottom-200{margin-bottom: 200px}
.margin-bottom-0{margin-bottom: 0px !important;}
.margin-bottom-5{margin-bottom: 5px !important;}
.margin-bottom-4{margin-bottom: 4px !important;}
.margin-bottom-20{margin-bottom: 20px !important;}
.margin-bottom-22{margin-bottom: 22px !important;}
.margin-bottom-25{margin-bottom: 25px !important;}
.margin-bottom-30{margin-bottom: 30px !important;}
.margin-bottom-50{margin-bottom: 50px !important;}
.margin-bottom-60{margin-bottom: 60px !important;}
.margin-bottom-10{margin-bottom: 10px !important;}
.margin-left-10{margin-left: 10px}
.margin-left-0{margin-left: 0px !important}
.margin-right-10{margin-right: 10px !important}
.margin-right-2{margin-right: 2px !important}
.margin-right-4{margin-right: 4px !important}
.width10{width: 10px !important}
.width14{width: 14px !important}
.width14_{width: 14% !important}
.width15_{width: 15%}
.width19_{width: 19%}
.width22_{width: 22%}
.width25_{width: 25%}
.width50_{width: 50%}
.width65_{width: 65%}
.width95_{width: 95%}
.width100_{width: 100%}
.width26{width: 26px}
.width55{width: 55px}
.width75{width: 75px}
.width150{width: 150px}
.width125{width: 125px}
.width49{width: 49% !important}
.width100__{width: 100% !important}
.width300{width: 300px !important}
.width550{width: 550px !important}
.width170{width: 170px !important}

.font30 {
    font-size: 30px !important;
}
.font21 {
    font-size: 21px !important;
}
.font13 {
    font-size: 13px !important;
}
.font34 {
    font-size: 34px !important;
}
.font20 {
    font-size: 20px !important;
}
.font40 {
    font-size: 40px !important;
}
.font60 {
    font-size: 60px !important;
}
.font22 {
    font-size: 22px !important;
}
.font25 {
    font-size: 25px !important;
}
.font26 {
    font-size: 26px !important;
}
.font24 {
    font-size: 24px !important;
}
.font17 {
    font-size: 17px !important;
}
.font16 {
    font-size: 16px !important;
}
.font18 {
    font-size: 18px !important;
}
.font11 {
    font-size: 11px !important;
}
.font12 {
    font-size: 12px !important;
}
.font13 {
    font-size: 13px !important;
}
.font15 {
    font-size: 15px !important;
}

.awesome-cropper input{
    width: 100%;
    padding: 5px;
    background-color: white;
}
.borderless td, .borderless th {
    border: none !important;
}
.popover{
    max-width:230px;
}
.contact_form p{
    color: #666 !important;
}
.contact_form .redactor-editor{
    padding:10px !important;
}
.ajax-upload-dragdrop, .ajax-file-upload-statusbar{
    width: 100% !important;
}
.ajax-upload-dragdrop span{
    font-size: 13px !important;
}
.ajax-file-upload-progress{
    width: 100% !important;
}
.img-object-fit{
    width: 200px; /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: cover;
}
.note{
    font-size: 11px;
    line-height: 15px;
    color: #999;
}
.container-image {
  position: relative;
  text-align: center;
  color: white;
}
.text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-lefted {
  top: 50%;
  transform: translateY(-50%);
}
.div_quantity_cart{
    width: 127px; 
    margin: 0 auto;
}
.tab_cart_last a{
    border: 1px solid !important;
    padding-bottom: 13px !important;
}
.border-gris-flojo{
    border: 1px solid #eee !important;
}
.border-red{
    border: 1px solid red !important;
}
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.blog-slider {
    position: relative;
}

.blog-slider:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    text-align: center;
    background: rgba(0,0,0,0.2.99);
}

.blog-slider span.blog-slider-badge {
    top: 20px;
    left: 20px;
    z-index: 1;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    position: absolute;
}

/*Blog Slider Title*/
.blog-slider .blog-slider-title {
    left: 0;
    z-index: 1;
    bottom: 20px;
    padding: 0 20px;
    position: absolute !important;
}

.blog-slider .blog-slider-title h2 {
    margin: 0;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .blog-slider .blog-slider-title h2 {
        font-size: 24px;
        line-height: 1.4;
    }
}

.blog-slider .blog-slider-title h2 a {
    color: #fff;
}

.blog-slider .blog-slider-title span.blog-slider-posted {
    color: #fff;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
}
.white-space-normal{
    white-space: normal !important;
}
.div_caja_pers p{
    color: white !important;
}
.panel-tdv{
    border-color: #a31158;
}
.funny-boxes-top-tdv{
    border-top: solid 2px #a31158;
}
.funny-boxes-tdv{
    background-color: #a31158;
}
.border-top-tdv{
    border-top: solid 1px #a31158 !important;
}
.panel-tdv > .panel-heading{
    background: #a31158;
}
.rotar{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rotar-45{
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 420px;
    max-height: 520px;
}
.offer-item-image{
    object-fit: cover; /* Do not scale the image */
}

.vcenter-item{
    display:flex;
    flex-wrap: nowrap;
    align-items: center
}
.cursor-pointer{
    cursor: pointer;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .padding-top-320{
        padding-top: 260px !important;
    }
}
.tachado{
    text-decoration: line-through;
}
.tachado-bold{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAIAAADdv/LVAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAASSURBVHjaYvrPwMDEAMEAAQYACzEBBlU9CW8AAAAASUVORK5CYII=');
    background-repeat: repeat-x;
    background-position: center;
}
.tdv-badge{
    left: 0;
    top: 20px;
    background: #fff;
    padding: 5px 15px;
    text-align: center;
    position: absolute;
    background-color: #a31158;
    color: white;
}
.footer-fixed {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
}
#modal_cookies .modal-dialog {
    position: fixed;
    bottom: 1em;
    right: 1em;
}
/* //Style para la scrollbar de la ventana para Safari y Chrome
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
::-webkit-scrollbar-thumb {
  background: #a31158; 
}

::-webkit-scrollbar-thumb:hover {
  background: #E3509C; 
}*/
.list-group-horizontal {
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
}
.img-plans img{
    margin: 0px 2px 2px 0 !important;
}
.text-left-tdv{
    text-align: left !important;
}



/* Map Pin */
.point,
.point:before,
.point:after {
    border-radius: 50%;
}
.point {
  width: 21px;
  height: 21px;
  background: rgba(0,0,0,.2);
}
.point:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 11px;
    height: 11px;
    background: #f5f219;
}
.point:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 5px;
    height: 5px;
    background: rgba(0,0,0,.2);
}
.popover-wrap {
    width: 171px;
    background: #000;
}
.mwp-wrap {
    position: relative;
    width: 171px;
    padding: 0 25px 25px;
    background: #000;
    box-shadow: 0 1px 9px -1px;
    text-transform: uppercase;
    text-align: center;
    left: -82px;
    bottom: 35px !important;
}
.mwp-wrap:after {
    content: "";
  position: absolute;
  top: 99%;
  left: 50%;
  margin-left: -7px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-top: 14px solid #111;
  border-right: 14px solid transparent;
}
.mwp__img {
    width: 171px;
    margin: 0 -25px 25px;
}
.mwp__date,
.mwp__location i {
    color: #f5f219;
}
.mwp__date {
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 9px;
}
.mwp__location {
    font-size: 9px;
    font-weight: 700;
    margin-bottom: 10px;
}
.mwp__location i {
    font-size: 14px;
    position: relative;
    top: 2px;
}
.mwp__title {
    color: #fff;
    font-weight: 700;
}